* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.container {
	display: flex;
	justify-content: center;
}
.nav {
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
	padding: 0 1rem;
}

.site-title {
	font-size: 2rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem;

}
.nav a {
	color: inherit;
	height: 100%;
	display: flex;
	align-items: center;
	padding: .25rem;
}
.nav li.active {
	background-color: #555;
}

.nav li:hover {
	background-color: #777;
}
