nav {
	height: 60px;
	background-color: yellowgreen;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 1rem;
}
nav a {
	color: white;
	font: inherit;
}
ul {
	display: flex;
	align-items: center;
	gap: 30px;
}
.user {
	display: flex;
	gap: 10px;
}
.button {
  outline: 0;
  background: #4CAF50;
  width: 100px;
	height: 40px;
  border: 0;
	border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger {
	width: 30px;
	height: 40px;
	/*background: gray;*/
	cursor: pointer;

}
.line1 {
	margin-top: 8px;
	height: 4px;
  background: white;
}
.line2 {
	margin-top: 7px;
	height: 4px;
  background: white;
}
.line3 {
	margin-top: 7px;
	height: 4px;
  background: white;
}

@media (max-width: 600px) {
	nav ul {
		display: none;
	}
}

