@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

main {
  margin: auto;
  max-width: 600px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  padding: 1rem;
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
}

button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background: red;
}

/*出品ボタン*/
.post {
	display: flex;
	justify-content: right;
}
.post button {
	background: #4385F3;
	color: white;
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	border: solid 2px #4385F3;
}
.post:focus, .post:hover {
	filter:brightness(120%)
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}


.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
}








.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
 }
.modal_confirm {
	background: #F3FBFE;
	padding: 20px;
	border-radius: 5px;
}
.modal_confirm_button_container {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}
.modal_confirm_button {
	min-width: 120px;
	min-height: 40px;
}
.modal_confirm_button_cancel {
	background: white;
	color: #4385F3;
	border: solid 2px #4385F3;
}
.modal_confirm_button_yes {
	background: #4385F3;
	color: white;
	border: solid 2px #4385F3;
}
.modal_confirm_button_yes:focus, .modal_confirm_button_yes:hover {
	filter:brightness(120%)
}
.modal_confirm_button_cancel:focus, .modal_confirm_button_cancel:hover {
	filter:brightness(80%)
}

form {
	display: block;
}

/*商品登録/編集*/
.modal_product {
	background: #F3FBFE;
	padding: 20px;
	border-radius: 5px;
	display: block;
	/*display: row;*/
}
/*全ての子要素のinputにstyleを適用*/
.modal_product input {
	display: block;
	font: inherit;
	margin-bottom: 20px;
}
.modal_product label {
	display: block;
	/*labelはインラインなのでblockマージンを使えないのでblockにしている*/
	margin-top: 20px;
}
.modal_product_title {
	text-align: center;
	font-weight: bold;
}
.modal_product_name {
}
.modal_product_price {
}
.modal_product input[type="checkbox"]{
	display: inline;
	min-width: 30px;
  min-height: 30px;
	vertical-align: middle;
	margin-top: 11px;
	margin-left: -1px;
}
.row_top input[type="checkbox"]{
	display: inline;
	min-width: 30px;
  min-height: 30px;
	vertical-align: middle;
	margin-top: -2px;
}
.row_bottom {
	display: flex;
	justify-content: space-between;
}
.row_bottom span {
	font-weight: bold;
	color: red;
	font-size: 20px;
}
.row_icon button {
	width: 40px;
	height: 40px;
	margin-left: 8px;
}