@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 600px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

button {
  /*min-width: 120px;
  min-height: 100px;*/
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background: red;
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
}

.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
 }
.modal_confirm {
	background: #F3FBFE;
	padding: 20px;
	border-radius: 5px;
}
.modal_confirm_button_container {
	display: flex;
	justify-content: space-around;
}
.modal_confirm_button {
	min-width: 120px;
	min-height: 40px;
}
.modal_confirm_button_cancel {
	background: white;
	color: #4385F3;
	border: solid 2px #4385F3;
}
.modal_confirm_button_yes {
	background: #4385F3;
	color: white;
	border: solid 2px #4385F3;
}
.modal_confirm_button_yes:focus, .modal_confirm_button_yes:hover {
	filter:brightness(120%)
 }
 .modal_confirm_button_cancel:focus, .modal_confirm_button_cancel:hover {
	filter:brightness(80%)
 }
 
