* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 0 !important;
	margin: 0;
}
.container {
	width: 100%;
	background: skyblue;
	display: flex;
}
.logo {
	margin: 10px;
	display: flex;
	width: 100px;
	height: 100px;
	background: green;
	align-items: center;
	justify-content: center;
}
.search {
	margin: 10px;
	display: flex;
	width: 100px;
	height: 100px;
	background: blue;
	align-items: center;
	justify-content: center;
	flex: auto;
}
.nav {
	margin: 10px;
	display: flex;
	width: 100px;
	height: 100px;
	background: pink;
	align-items: center;
	justify-content: center;
}