.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
}

.menu {
	background: green;
	width: 250px;
	height: 100vh;
	right: 0px;
	padding: 20px;
}
