.container {
	height: 200px;
	position: fixed;
	left: 0px;
	top: 50px;
	width: 250px;
	transform: translateX(110px);
	transition: transform 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0.7);
}

.color_container {
	height: 200px;
	position: fixed;
	left: 0px;
	top: 50px;
	width: 250px;
	background: red;
	transition: transform 0.3s ease-in-out;

	transform: translateX(0);
}

input[type="checkbox"]:checked ~ .openSidebarMenu {
	transform: translateX(0);
	width: 100px;
	height: 100px;
}


/*.menu {
	background: green;
	width: 250px;
	height: 100vh;
	right: 0px;
	padding: 20px;
}*/
